// Overriding Bootstrap Nav tabs starts
.nav-tabs .active {
	border-bottom: 2px solid $redThemeColor;
}
/* Tab width should be set specific to implementation */
.nav-tabs li {
	font-size: 16px;
    text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 0px;
	font-weight: 500;
}
.nav-tabs>li>a {
	color: #000000;
}
// Overriding Bootstrap Nav tabs ends