// Home page
.home-page {
	.card {
	    margin: 0px 0px;
	    .item {
	    	padding: 8px;
		    .item-image-container {
		    	float: left;
		    	width: 110px;
		    }
		    .item-info-container {
		    	overflow: hidden;
		    	padding-left: 5px;
		    	text-align: left;
		    	.brand-name {
					font-size: $font-size-big;
					color: #000000;
			    }
			    .brand-extra-info {
					font-size: $font-size-medium;
					color: $gray;
			    }
			    .brand-price {
			    	font-size: $font-size-base;
			    	margin-top: 5px;
			    	font-weight: bold;
			    }
		    }
		}
	}
	.item-product {
		text-align: center;
	}
	.no-more-results-msg {
		padding: 5px;
		text-align: center;
		color: $gray;
	}
	.filter-icon {
		position: absolute;
		bottom: 10px;
    	right: 10px;
    	font-size: 25px;
    	color: #fff;
	    background-color: $redThemeColor;
	    opacity: 0.7;
	    text-align: center;
	    width: 40px;
	    border-radius: 20px;
	    height: 40px;
	}
	.ion-funnel:before {
		padding-top: 7px;
	}
}
// Product filter modal
.product-filter-modal {
	ion-header-bar {
		.button.button-clear {
			color: #000;
		}
	}
	h4 {
		border-bottom: 1px solid $lightGray;
		padding-bottom: 4px;
		font-size: 16px;
	}
}
// Product details page
.product-details-page {
	.product-images-carousel {
		.item {
			text-align: center;
			border: 0px;
			padding-bottom: 0px;
			
			img {
				width: 130px;
				display: inline;
			}
		}
	}
	.product-major-info {
		text-align: center;

		h4 {
			margin-top: 0px;
		}
		.price, .price h4 {
			display: inline;
		}
	}
	.review-n-details-container {
		.nav-tabs li {
		    width: 50%;
		}
		.card {
			ul {
				padding-left: 5px;
			}
		}
		.specs-title {
			font-weight: 500;
			display: block;
		}
	}
}