<ion-modal-view class="product-filter-modal">
	<ion-header-bar>
	  <button class="button button-clear button-primary" ng-click="closeFilterModal()">Cancel</button>
	  <h1 class="title">Filter</h1>
	  <button class="button button-clear button-primary">Reset All</button>
	</ion-header-bar>
	<ion-content>
	  <h4>Price</h4>
	  <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>
	  <h4>Brands</h4>
	  <div class="brand-container">
	  	<span ng-repeat="eachBrand in filterValues.brands"
	  		ng-click="toggleProductSelected($event)">{{eachBrand.brandName}}</span>
	  </div>
	  <h4>In Stock</h4>
	  <div>
	  	<label>Include out of stock products </label>
		<label class="toggle out-of-stock-toggle">
			<input type="checkbox">
		  	<div class="track">
		  		<div class="handle"></div>
			</div>
		</label>
	  </div>
	  <div class="apply-button-container">
	  	*At the moment only filter UI is in place. It will work only after having an integration with web-services.
		<button class="button button-full button-stable" ng-click="closeFilterModal()">
			Apply
		</button>
	  </div>
	</ion-content>
</ion-modal-view>