<div class="bar bar-subheader">
  <img src="img/avatar.jpg"></img>
</div>
<ion-view view-title="Timeline" class="timeline-page">
  <ion-content class="has-subheader">
    <div class="year">
    	<span>2016</span>
    </div>
    <div class="event">
    	<span>Started Working with Zensar Technologies</span>
    </div>
    <div class="event">
    	<span>Quit Amdocs</span>
    </div>
    <div class="year">
    	<span>2012</span>
    </div>
    <div class="event">
    	<span>Started Working with Zensar Technologies</span>
    </div>
    <div class="event">
    	<span>Quit HSBC</span>
    </div>
    <div class="year">
    	<span>2009</span>
    </div>
    <div class="event">
    	<span>Started Working with HSBC</span>
    </div>
    <div class="event">
    	<span>Finished training at Seed Infotech</span>
    </div>
    <div class="year">
    	<span>2008</span>
    </div>
    <div class="event">
    	<span>Started Training at Seed Infotech</span>
    </div>
    <div class="event">
    	<span>Completed Bachelor of Engineering (Computer)</span>
    </div>
    <div class="year">
    	<span>2006</span>
    </div>
    <div class="event">
    	<span>Completed Higher Secondary Education</span>
    </div>
    <div class="year">
    	<span>2004</span>
    </div>
    <div class="event">
    	<span>Completed Secondary Education</span>
    </div>
  </ion-content>
</ion-view>