<div class="row">
	<div class="col">
		<div class="icon-container">
			<i class="ion-monitor"></i>
		</div>
		<span>Experience</span>
	</div>
	<div class="col">
		<div class="icon-container">
			<i class="ion-document-text"></i>
		</div>
		<span>Certifications</span>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="icon-container">
			<i class="ion-plane"></i>
		</div>
		<span>Explorer</span>
	</div>
	<div class="col">
		<div class="icon-container">
			<i class="ion-university"></i>
		</div>
		<span>Education</span>
	</div>
</div>